<div class="sticky-top">
  <div class="row">
        <div class="col-3">
            <div class="list-group">
              <a class="list-group-item list-group-item-action"
                [class.activeId]="!categories"
                [routerLink]="['/products']">All Categories
              </a>
                <a *ngFor="let c of categories" class="list-group-item">
                  {{c.name}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
   <ng-container *ngFor="let p of products"; let i = index>
      <div class="col">
          <div class="card" style="width: 15rem;">
               <img class="card-img-top" [src]="p.imageUrl">
               <div class="card-body">
                   <h4 class="card-title">{{p.title}}</h4>
                   <p class="card-text">{{ p.price | currency: 'USD': true}}</p>
               </div>
               <div class="card-footer">
                <a *ngIf="!showActions"
                    (click)="addToCard(product)"
                class="btn btn-primary btn-block">Add to Card</a>
               </div>
          </div>
      </div>
      <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
   </ng-container>
</div>
